body {
	color: #333;
	font-family: "Microsoft Yahei", "arial", "sans-serif";
	min-width: 1190px;
}

body,
button,
input,
select,
textarea {
	font: 12px/1.5 arial, helvetica, clean, sans-serif;
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
	border: 0 none;
	margin: 0;
	outline: 0 none;
	padding: 0;
}

a {
	color: #24d;
	text-decoration: none;
}

a:hover {
	color: #e00;
	text-decoration: underline;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0 none;
	margin: 0;
	outline: 0 none;
	padding: 0;
}

.logo,
.choose-city i,
.active .choose-city i,
.hot-phone i,
.footer-logo,
.open-box,
.close-box,
.totop,
.ewm-wx,
.ewm-app,
.fb-btn,
.call-back,
.close-side {
	background-image: url("../img/global-3.png");
	background-repeat: no-repeat;
}